@using Tests

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
	<head>
		<title>Hello @Model.Name</title>
	</head>
	<body>
		<h1>Hi @Model.Name</h1>
		<p>Today is a special day</p>
	</body>
</html>